@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Global */
:root {
  // Gradient
  --color-1: hsl(236, 72%, 79%);
  --color-2: hsl(237, 63%, 64%);

  // Neutral
  --v-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-size: calc(15rem / 16);
}

.background {
  &-bottom {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-image: url('../public/static/bg-bottom.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
  }
  &-top {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-image: url('../public/static/bg-top.svg');
    background-repeat: no-repeat;
    background-position: right top;
  }
}

/* Site Specific */
.main {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    & > li {
      position: relative;
      margin: 2.4rem auto;
      text-align: center;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--light-grayish-blue);
        left: 0;
        top: -1.2rem;
      }

      &:nth-child(3)::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--light-grayish-blue);
        bottom: -1.2rem;
        left: 0;
      }
    }
  }

  &-unfocused {
    padding: 2rem;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 10px hsl(0, 0, 0));

    
  }

  &-focused {
    padding: 2rem;
  }
}

/* Switch */
$switch-height: 50;

.switch {
  width: calc(2px * $switch-height);
  height: $switch-height * 1px;
  border-radius: $switch-height * 1px;
  padding: calc($switch-height * 1px / 10);
  display: flex;
  cursor: pointer;
  background: linear-gradient(var(--color-1), var(--color-2));
  justify-content: flex-start;
}

.switch div {
  width: calc(0.8px * $switch-height);
  height: calc(0.8px * $switch-height);
  background-color: #ffffff;
  border-radius: calc(2px * $switch-height);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.02);
}

.frequency-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  
  & > * {
    margin: 0 1rem;
  }
}

.site-title {
  text-align: center;
  font-size: calc(36rem / 16);
}